body {
  font-family: sans-serif;
  overflow: hidden;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  padding: 10px;
}

.canvas-container {
  padding-bottom: 115px;
}

.time-dialog {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 100;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 1em;
  padding-top: 0.2em;
  white-space: pre-line;
}

.controllers {

}

.speed-controller {
}

.progressbar {
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}

.button-container {
  /* padding-right: 10px; */
}

.button-container button {
  /* margin-right: 8px; */
}

.hover-description {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 100;
  display: block;
  padding: 5px;
  margin-top: 30px;
  white-space: pre-line;
}

.git-info {
  font-family: 'Courier New', Courier, monospace;
  vertical-align: middle;
  font-size: 0.9em;
  padding-top: 5;
  padding-right: 2em;
}
